{#
/**
 * @file
 * Default theme implementation to display neo_toolbar.
 *
 * Available variables:
 * - toolbar: The Neo toolbar entity object.
 *
 * @see template_preprocess_neo_toolbar()
 *
 * @ingroup themeable
 */
#}
{% if regions.top_start or regions.top_end %}
  <aside class="neo-toolbar neo-toolbar--top flex fixed top-0 right-0 left-displace-l bg-base-0 text-base-content-0 z-50 overflow-x-auto scheme-dark" data-offset-top="">
    <div class="flex items-center grow">
      {{ regions.top_start }}
      {{ regions.top_end }}
    </div>
  </aside>
{% endif %}
{% if regions.side_start or regions.side_end %}
  <aside class="neo-toolbar neo-toolbar--side flex fixed top-0 h-lvh left-0 bg-base-0 text-base-content-0 z-50 overflow-x-auto" data-offset-left="">
     <div class="flex flex-col grow">
      {{ regions.side_start }}
      {{ regions.side_end }}
    </div>
  </aside>
{% endif %}
