{#
/**
 * @file
 * Default theme implementation to display neo_toolbar_region.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_neo_toolbar_region()
 *
 * @ingroup themeable
 */
#}
{% set divider_attributes = create_attribute() %}
{%
  set divider_classes = divider_classes is defined ? divider_classes : [
    'border-t border-base-200 dark:border-base-300',
    alignment == 'vertical' ? 'mx-3 border-t' : 'h-6 border-l',
  ]
%}
<div{{ attributes.addClass('neo-toolbar--divider') }}>
  <hr{{ divider_attributes.addClass(divider_classes) }}>
</div>
