{#
/**
 * @file
 * Default theme implementation to display neo_toolbar.
 *
 * Available variables:
 * - toolbar: The Neo toolbar entity object.
 *
 * @see template_preprocess_neo_toolbar()
 *
 * @ingroup themeable
 */
#}
<div class="neo-toolbar fixed top-0 bottom-0 left-0 w-14 bg-base-200" data-offset-left="">
  Toolbar: {{ toolbar.id }}
</div>
